.note{
    margin-top: 100px;
    padding-top: 50px;
    margin-bottom: 80px;
}
.titlenote {
    font-size: 60px !important;
    font-weight: 900 !important;
    color: aqua;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    text-align: center;
    font-family: "Tajawal", sans-serif !important;
}
.rightsection {
  margin-bottom: 20px !important;

}
.leftSection {
    padding: 4px;
    background-color: #f0c310b9;
    border-radius: 10px;
    height: fit-content;
}
.leftSection h3 {
    font-family: "Tajawal", sans-serif !important;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    font-size: 30px;
}
.leftSection ul li {
    font-size: 20px;
    font-weight: 400;
}
.buttonnotes {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.checkSection {
    background-color: #10f041b9;
}
.offSection {
    background-color: #4d5059b9;
}
.checkSection ,
.offSection {
    padding: 4px;
    border-radius: 10px;
    height: fit-content;
    margin-top: 50px;
}
.checkSection h3 ,
.offSection h3 {
    font-family: "Tajawal", sans-serif !important;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    font-size: 30px;
}
.checkSection ul li ,
.offSection ul li {
    font-size: 20px;
    font-weight: 400;
}